  .download-text{
  	opacity:0;
  	  transition: opacity 1s;
			-moz-transition: opacity 1s; /* Firefox 4 */
			-webkit-transition: opacity 1s; /* Safari 和 Chrome */
			-o-transition: opacity 1s; /* Opera */
  }
  .btn-download{
  	width:40px;
  		transition: width 1s;
			-moz-transition: width 1s; /* Firefox 4 */
			-webkit-transition: width 1s; /* Safari 和 Chrome */
			-o-transition: width 1s; /* Opera */
  }
  	.btn-download:hover{
  		width:150px;
  	}
  	.btn-download:hover .download-text{
  		opacity:1;
  	}
.list-download{
	float: right;
}